# Cấu hình Database kết nối PostgreSQL (sử dụng asyncpg)
# Khi chạy qua Docker, host DB sẽ là 'db'. Khi chạy local, host DB là 'localhost'.
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/loruoucauhai

# Cấu hình Redis Cache & Message Broker
REDIS_URL=redis://redis:6379/0

# API Keys cho Generative AI (nếu không chạy qua docker-compose truyền env)
GEMINI_API_KEY=
OPENAI_API_KEY=
